*{
    box-sizing: border-box;
    font-family: "Arial";
    font-size: 13px;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  html {
    font-family: sans-serif;
    font-size: 14px;
  }
  
  tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }
  
  .inline-text {
    display: inline-block
  }
  
  button.default {
    background-color: #0277bd !important;
  }
  button.topButton {
    height: 25px;
    padding:2px 10px 4px;
    margin-right:6px;
    font-size:12px;
    margin-bottom:14px;
  }
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-bottom: 2px solid #0d6efd;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  
  .tab button:hover {
    background-color: #ddd;
  }
  .tab button.active {
    background-color: #0d6efd;
    color: white;
  }
  
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  
  /* Style the buttons inside the tab */
  table.navigation {
    border-spacing:1;
    width:100%;
  }
  
  table td.navigationItem
  {
    display: flex;
    white-space:nowrap;
    flex-wrap:wrap;
    max-width:100%;  
    padding-top:20px
  }
  
  
  
  
  
  
  .tabClear{
    border: 1px solid #ccc;
      border-bottom: none;
      margin-right: 3px;
      color: #fff;
      background-color: #e5e5e5;
      cursor: pointer;
      display: block;
      float: left;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
  }
  
  .tabSelected{
    border: 1px solid #0277bd;
    border-bottom: none;
    margin-right: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: #0277bd;
  }
  .table {
    border-collapse: collapse;
    margin: 1px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  .table th,
  .table td {
      padding: 12px 15px;
  }
  
  .table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .tbody {
    border-bottom: 1px solid lightgray;
  }
  
  th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  td {
    border-right: 1px solid lightgray;
    padding: 2px 4px;
  }
  
  td:last-child {
    border-right: 0;
  }
  
  .tfoot {
    color: gray;
  }
  
  .tfoot th {
    font-weight: normal;
  }
  
  .exact_icon_24 {
    font-family: 'sans-serif';
    font-size: 24px;
  }
  
  .drop-down{
    font-size: 13px;
    padding: 3px 1px 3px 6px;
    background: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
  }
  
  .drop-down .select{
    width: 120%;
    background-position:80% center;
  }
  
  .drop-down .select select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 120%;
    position: relative;
    z-index: 10;
    font-size: 1em;
  }
  
  .FilterSection {
    background: #e5e5e5;
    margin: 0 0 15px 4px;
    width: 99%;
    padding: 5px;
  }
  
  .FilterSection td {
    padding: 3px 10px;
  }
  
  
  
  span.tabClear {
    border: 1px solid #ccc;
    border-bottom: none;
    margin-right: 3px;
    color: #fff;
    background-color: #e5e5e5;
    cursor: pointer;
    display: block;
    float: left;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  span.tabSelected, .tabClear:hover {
    border: 1px solid #0277bd;
    border-bottom: none;
    margin-right: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    float: left;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: #0277bd;
  }
  
  .inputFinderContainer {
    display: flex;
  }
  
  .inputFinderField {
    flex: 1;
  }